<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-3">&nbsp;</div>
    <div class="col-lg-6">
      <form [formGroup]="UserForm" (ngSubmit)="UserForm.valid && onSubmit(UserForm.value);submitted=true" >

        <div *ngIf="hasErrors" class="alert alert-danger">
          <div [innerHTML]="hasErrors"></div>
        </div>
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control" placeholder="John" formControlName="firstname">
          <div *ngIf="submitted && !UserForm.controls['firstname'].valid" class="alert alert-danger">
            First name is required
          </div>
        </div>

        <div class="form-group">
          <label>Last Name</label>
          <input type="text" class="form-control" placeholder="John" formControlName="lastname">
          <div *ngIf="submitted && !UserForm.controls['lastname'].valid" class="alert alert-danger">
            Last name is required
          </div>
        </div>

        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" formControlName="email">
          <div *ngIf="submitted && !UserForm.controls['email'].valid" class="alert alert-danger">
            Valid email address is required
          </div>
        </div>

        <div class="form-group">
          <label>Roles</label>
          <select class="form-control" formControlName="roles_id">
            <option value="">Select</option>
            <option *ngFor="let item of roles" value="{{ item?.id }}">{{ item?.role }}</option>
          </select>
          <div *ngIf="submitted && !UserForm.controls['roles_id'].valid" class="alert alert-danger">
            Please select the role
          </div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password">
          <div *ngIf="submitted && !UserForm.controls['password'].valid" class="alert alert-danger">
            Password length should be 8 or more
          </div>
        </div>

        <div class="form-group">
          <label>Profile image</label>
          <!--<image-upload
                  [max]="100"
                  [url]="'img'"
                  [buttonCaption]="'select Images'"
                  (onFileUploadFinish)="imageUploaded($event)"
                  (onRemove)="imageRemoved($event)"
                  [formControlName]="imageupload"
          ></image-upload>-->
        </div>

        <button type="submit" class="btn btn-default">Create</button>
        <button type="reset" class="btn btn-default">Reset </button>
      </form>
    </div>
    <div class="col-lg-3">&nbsp;</div>
  </div>
</div>